<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>

    <!-- passing to ngFor an iteration expression i.e. let i of items -->
    <!-- iterate through every row, fill in api data to table data fields -->
    <tr *ngFor="let satellite of satellites" class="data-row">
        <td> {{ satellite.name }} </td>
        <td [class.warning]="satellite.isSpaceDebris()"> {{ satellite.type}} </td>
        <td> {{ satellite.launchDate}} </td>
        <td> {{ satellite.orbitType}} </td>
        <td> {{ satellite.operational}} </td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

